body {
    background: #49226e !important;
}

.frame {
    margin: 25px;
    background-color: white;
}

.content {
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.cardd {
    border-radius: 5%;
    border-style: solid double;
    background-color: white;
}