body {
    background: linear-gradient(50deg, #49226e, #764a9f, #b59ecd);
    background-size: 100% 100%;
    animation: movinggradient 5s ease infinite;
    background-size: 200%;
    height: 100vh;
    background-repeat: no-repeat;
}

@keyframes movinggradient{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position: 0% 50%;
    }
}

.bg-dark {
    background-color:#444c54!important
}

.btn-dark {
    color:#fff;
    background-color:#444c54;
    border-color:#444c54;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px; 
    padding-right: 300px;
    padding-left: 200px;
    color: white;
}

.textcontainer {
    padding-top: 75px;
}

.agenda {
    padding-top: 40px;
    size: 100px;
}